@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background: #f8f9fa;
  min-height: 100vh;
  color: #333333;
}

.animation-spin-slow {
  animation: spin 3s linear infinite;
}
